/* /////////////////////////// */
/* /////// Portfolio ///////// */
/* /////////////////////////// */

.portfolio-section {
    padding: 16rem 0 0 0;
}

.portfolio-box {
	width: 100%;
	height: 234px;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.portfolio-box.big {
    height: 100%;
}

.portfolio-content {
    padding: 40px;
    position: relative;
    z-index: 1;
}

.portfolio-content::before,
.portfolio-content::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 140px;
}

.portfolio-content::after {
    right: 14px;
    bottom: 3px;
}

.portfolio-content::before {
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio-content .bg-img {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.portfolio-content .common-btn {
<<<<<<< HEAD
    font-size: 1rem;
=======
    font-size: 0.7rem;
>>>>>>> 6e8275a1489c51cdb28fd570481fe9facd83f92d
}

.portfolio-content .common-btn img {
    position: relative;
}

/* Responsive Styles for Mobile Devices */
@media only screen and (max-width: 768px) {
    
    .portfolio-section {
        padding: 8rem 0 0 0; 
    }

    .portfolio-section h2{
        font-size: 2.3rem;
    }

    .portfolio-box {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolio-content .common-btn {
        font-size: 0.7rem;
        padding: 2px;
    }
    
}
