/* /////////////////////////// */
/* ////////// Skill ////////// */
/* /////////////////////////// */


.skill-section {
    padding: 16rem 0 0 0;
}

.skill-box {
    padding: 10px ;
    width: 80%;
    height: auto; 
    z-index: 1;
    position: relative;
}

.skill-box img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

.skill-box .part-skill {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative; 
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.skill-box .part-skill:hover {
    transform: scale(1.05); 
}

.skill-box .part1 {
    z-index: 2;
    text-align: center;
}

.skill-box .part2 {
    text-align: center;
    left: 30%;
}

.skill-box .part3 {
    z-index: 2;
    text-align: center;
}

.skill-box a {
    width: 12rem;
    height: 50px;
    top: -50%;
    font-size: 1rem;
}

.box-border {
    position: absolute;
    top: 10%;
    left: 0%;
    border: 2px solid var(--color-6);
    height: 70%;
    width: 100%;
    z-index: -1;
}

.popUp-skill p {
    color: var(--color-1);
    line-height: 2rem;
    font-size: 1.2rem;
}

#skills-section {
    color: var(--color-1);
}

.text-skill h3 {
    padding: 1rem;
    background-color: var(--color-5);
    text-align: center;
}

.detail-text-skill {
    margin: 1.5rem;
    padding-left: 40px;
    font-size: 1.2rem;
    line-height: 3rem;
}

.detail-text-skill i {
    color: var(--color-4);
    font-size: 1.5rem;
}


@media only screen and (max-width: 768px) {

    .skill-section {
        padding: 8rem 0 0 0;
    }

    .skill-section h2{
        font-size: 2.3rem;
        letter-spacing: -2px;
    }


    .skill-box {
        width: 80%; 
        padding: 0;
    }

    .skill-box img {
        width: 80%;
        height: 80%;
    }

    .popUp-skill {
        text-align: center;
    }

    .text-skill h3 {
        margin-top: 20px;
    }

    .detail-text-skill {
        text-align: left;
        padding: 10px;
    }

    .skill-box a {
        width: 60%;
        font-size: 0.8rem;
        line-height: 1;
    }
}


