
/* //////////////////////////////// */
/* /////////  Motivation ////////// */
/* //////////////////////////////// */

.motivations-section {
padding: 16rem 0 0 0; 
}

.motivations-section .content {
  border: 2px solid var(--color-4);
  padding: 40px 10px 40px 10px;
  width: 100%;
  margin: 1rem 1rem 1rem 0;
}

.motivations-section .content h3 {
  margin: 20px;
  padding: 10px;
color: var(--black);
  font-weight: 600;
  line-height: 30px;
}

.motivations-section .content p {
  font-size: 1.25rem;
  line-height: 26px;
  font-style: italic;
  font-weight: 400;
  color: var(--color-1);
  padding-bottom: 2rem;
}



/* Responsive Styles for Mobile Devices */
@media only screen and (max-width: 768px) {

  .motivations-section {
    padding: 7rem 0 2rem 0 ;
  }

  .motivations-section h2{
    font-size: 2.3rem;
  }

  .motivations-section .content h3 {
    font-size: 1.5rem;
    line-height: 28px;
  }

  .motivations-section .content p {
    font-size: 1rem; 
    line-height: 24px; 
  }
}


    