/* /////////////////////////// */
/* ///////// Langue ////////// */
/* /////////////////////////// */

.langues-section {
  padding: 16rem 0 2rem; 
}

.title-hobby {
  font-size: 3rem;
  color: var(--color-5);
}

.langues-section .nav-item-hobby,
.langues-section .nav-item-langue {
  position: relative;
  list-style: none; 
}

.langues-section .nav-item-hobby .nav-link,
.langues-section .nav-item-langue p {
  font-size: 1.15rem;
  line-height: 2rem;
  font-weight: 400;
  color: #333333;
}

.langues-section .nav-item-langue {
  padding-left: 3rem;
}

.detail-hobby {
  padding: 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

.langues-section .nav-item-langue img {
  position: absolute;
  top: -8px;
  left: 0;
  width: 2.5rem;
  height: 3.75rem;
}

.langue-info {
  margin: 1rem 0;
  padding: 2rem;
  position: relative;
  z-index: 1;
  background-color: var(--color-5);
}

.langue-box {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-5);
  z-index: -1;
}

.langue-info h3 {
  margin: 0 0 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.langue-border {
  padding: 1rem;
  left: 1.25rem; 
  top: -1.25rem; 
  position: absolute;
  border: 2px solid var(--color-6);
  height: 100%;
  width: 100%;
  z-index: -2;
}

.langue-info p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.box-hobby {
  margin: 0;
  padding: 0;
}

/* Responsive Styles for Mobile Devices */
@media only screen and (max-width: 768px)  {

  .langues-section {
    padding: 7rem 0 2rem 0 ;
  }

  .langues-section h2{
    font-size: 2rem;
    letter-spacing: -2px;
  }

  .title-hobby {
    padding: 4rem 0 0 1rem;
    font-size: 2.3rem;
  }
  
.nav-link {
    padding-bottom: 3rem ;
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #333333;
  }

  .langue-border {
    border: none;
  }

  .langue-info {
    margin: 1rem;
    padding: 1rem;
  }
}
